[build]
  command = "hugo"
  publish = "public"

[build.environment]
  HUGO_VERSION = "0.139.4"

[context.production.environment]
  HUGO_ENV = "production"

[context.deploy-preview.environment]
  HUGO_ENV = "development"
